.f_fav {
    color: rgb(138, 117, 163);
    /* background-color: red; */
    padding-top: 8rem;
    font-size: 2rem;
}

.f_box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4rem;
    margin-left: 1rem;
    column-gap: 4rem;
    row-gap: 4rem;
}


.f_box1 {
    display: flex;
    justify-content: center;
}

.f_box {
    height: 10rem;
    width: 33rem;
    background-color: #191919;
    padding-top: 2rem;
    margin-top: 8rem;
}

.f_box h2 {
    color: red;
}