.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1rem;
    padding-top: 4rem;
    column-gap: 4rem;
    row-gap: 4rem;
}

.h_loading {
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}