.h_form {
    padding-top: 8rem;
}

form input:nth-of-type(1) {
    height: 2rem;
    width: 12rem;
    margin-right: 1rem;
    padding-left: 0.2rem;
}

form input:nth-of-type(2) {
    height: 1rem;
    width: 4rem;
    background-color: red;
    cursor: pointer;
    transition: 0.3s ease;
}

form input:nth-of-type(2):hover {
    box-shadow: 0 0 25px 5px red;
    transform: translateY(-5px);
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1rem;
    padding-top: 2rem;
    column-gap: 4rem;
    row-gap: 4rem;
}

.h_loading {
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}

.h_footer {
    background-color: #141414;
    width: 100%;
    height: 6rem;
}